@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .font-regular{
        font-weight: 500;
    }
    .text-m{
        font-size: 1rem
    }
    .border-3{
        border-width: 3px;
    }
    /* .startedBtn {
        @apply p-3 px-6 text-white bg-main rounded-full hover:bg-[#0d262c];
    } */
    .startedBtn {
        @apply font-regular text-m cursor-pointer p-3 px-6 text-white border-3 rounded-lg border-[rgb(35,70,79)] hover:scale-105 transition;
    }
    .startedBtn1 {
        @apply font-regular text-m cursor-pointer p-3 px-6 text-black border-3 rounded-lg border-[rgb(35,70,79)] hover:scale-105 transition;
    }
}

.text-hero {
    font-size: 3.65rem;
    line-height: 1;
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}
.bg-main{
    background-color: #0D3B66;
}
.bg-main-hover{
    background-color:#587a83
}
.text-main{
    color: #222222;
}

body{
    overflow-x: hidden;
    position: relative;
    font-family: 'Poppins';
}

.PhoneInputCountry img {
    display: none;
}
.PhoneInputCountry svg {
    display: none;
}

.PhoneInputInput {
    outline-color: #3182ce;
    width: 100%;
    padding: 7px;
    margin-top: 13px;
    border-radius: 5px;
    border: rgb(59 130 246 / 0.5) 1px solid;
}
input[type="radio"] {
    width: 100px;
    height: 100px;
}